DOCS/flow/flow
[{"id":"967902ec32641bcf","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"c0fbf4dfc3b303b7","type":"inject","z":"967902ec32641bcf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":160,"wires":[["5dc03fbfaab0265b","5b1f9045cf741116"]]},{"id":"cab768392730b0cd","type":"debug","z":"967902ec32641bcf","name":"debug 27","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":960,"y":200,"wires":[]},{"id":"b019e387ae3647e7","type":"usb-watch","z":"967902ec32641bcf","name":"","initialScan":false,"x":220,"y":100,"wires":[["cab768392730b0cd"],[]]},{"id":"5dc03fbfaab0265b","type":"npm","z":"967902ec32641bcf","name":"macaddress","func":"// NPM module exposed as variable, npm_module\nreturn npm_module(msg.payload);","npm_module":"macaddress","module_style":"function","msg_payload":"return_val","function_name":"all","x":430,"y":220,"wires":[["43d9d93c371396d5"]]},{"id":"5b1f9045cf741116","type":"npm","z":"967902ec32641bcf","name":"usb","func":"// NPM module exposed as variable, npm_module\nreturn npm_module(msg.payload);","npm_module":"usb","module_style":"function","msg_payload":"return_val","function_name":"getDeviceList","x":410,"y":160,"wires":[["43d9d93c371396d5"]]},{"id":"43d9d93c371396d5","type":"function","z":"967902ec32641bcf","name":"function 16","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":240,"wires":[[]]}]