DOCS/flow/flow
[{"id":"967902ec32641bcf","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"c0fbf4dfc3b303b7","type":"inject","z":"967902ec32641bcf","name":"untuk daftarkan device id & mac","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":160,"wires":[["5dc03fbfaab0265b","5b1f9045cf741116"]]},{"id":"cab768392730b0cd","type":"debug","z":"967902ec32641bcf","name":"debug 27","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":980,"y":140,"wires":[]},{"id":"b019e387ae3647e7","type":"usb-watch","z":"967902ec32641bcf","name":"detect fd to check mac same","initialScan":false,"x":180,"y":400,"wires":[["35eac31a3a547a80"],[]]},{"id":"5dc03fbfaab0265b","type":"npm","z":"967902ec32641bcf","name":"macaddress","func":"// NPM module exposed as variable, npm_module\nreturn npm_module(msg.payload);","npm_module":"macaddress","module_style":"function","msg_payload":"return_val","function_name":"all","x":430,"y":220,"wires":[["43d9d93c371396d5","cab768392730b0cd"]]},{"id":"5b1f9045cf741116","type":"npm","z":"967902ec32641bcf","name":"usb","func":"// NPM module exposed as variable, npm_module\nreturn npm_module(msg.payload);","npm_module":"usb","module_style":"function","msg_payload":"return_val","function_name":"getDeviceList","x":410,"y":160,"wires":[["43d9d93c371396d5","cab768392730b0cd"]]},{"id":"43d9d93c371396d5","type":"function","z":"967902ec32641bcf","name":"function 16","func":"msg.method = \"POST\"\nmsg.url = \"http://127.0.0.1:8000/api/usb-devices\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":240,"wires":[["1d90c84e6d1adedc"]]},{"id":"1d90c84e6d1adedc","type":"http request","z":"967902ec32641bcf","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":850,"y":240,"wires":[["cab768392730b0cd"]]},{"id":"4f28f039293c5265","type":"serial in","z":"967902ec32641bcf","name":"","serial":"2f822a4e46b0d9c8","x":190,"y":660,"wires":[["e95d1e3b317e4b3a","d26ef5f186c96d2e"]]},{"id":"ca7ce12fc1408c57","type":"tcp out","z":"967902ec32641bcf","name":"","host":"192.168.123.14","port":"2209","beserver":"client","base64":false,"end":false,"tls":"","x":970,"y":660,"wires":[]},{"id":"780eeb4183919d7f","type":"tcp in","z":"967902ec32641bcf","name":"","server":"server","host":"","port":"2209","datamode":"stream","datatype":"utf8","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":220,"y":740,"wires":[[]]},{"id":"e95d1e3b317e4b3a","type":"split","z":"967902ec32641bcf","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":610,"y":660,"wires":[["3c0ce4f4f5169ddd"]]},{"id":"3c0ce4f4f5169ddd","type":"switch","z":"967902ec32641bcf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"GPRMC","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":660,"wires":[["ca7ce12fc1408c57"]]},{"id":"e12e2f5909e61dfc","type":"inject","z":"967902ec32641bcf","name":"create mac file into fd","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":320,"wires":[["d4e88b5f351bef7d"]]},{"id":"d4e88b5f351bef7d","type":"npm","z":"967902ec32641bcf","name":"macaddress","func":"// NPM module exposed as variable, npm_module\nreturn npm_module(msg.payload);","npm_module":"macaddress","module_style":"function","msg_payload":"return_val","function_name":"all","x":390,"y":320,"wires":[["42a7d0fd3616c529"]]},{"id":"42a7d0fd3616c529","type":"function","z":"967902ec32641bcf","name":"function 20","func":"msg.method = \"POST\"\nmsg.url = \"http://127.0.0.1:8000/api/mac-address\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":320,"wires":[["d966caaf30a19e3c"]]},{"id":"d966caaf30a19e3c","type":"http request","z":"967902ec32641bcf","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":790,"y":320,"wires":[[]]},{"id":"66c9a428802879cf","type":"http request","z":"967902ec32641bcf","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":790,"y":400,"wires":[["9ed370f16d5aaeec","78bc05b17512d841"]]},{"id":"35eac31a3a547a80","type":"npm","z":"967902ec32641bcf","name":"macaddress","func":"// NPM module exposed as variable, npm_module\nreturn npm_module(msg.payload);","npm_module":"macaddress","module_style":"function","msg_payload":"return_val","function_name":"all","x":430,"y":400,"wires":[["52c154779f0b5410"]]},{"id":"52c154779f0b5410","type":"function","z":"967902ec32641bcf","name":"function 21","func":"msg.method = \"POST\"\nmsg.url = \"http://127.0.0.1:8000/api/mac-validation\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":400,"wires":[["66c9a428802879cf"]]},{"id":"9ed370f16d5aaeec","type":"debug","z":"967902ec32641bcf","name":"debug 33","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":960,"y":400,"wires":[]},{"id":"bf54947b8ef184c1","type":"cronplus","z":"967902ec32641bcf","name":"","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"default","payload":"","expressionType":"cron","expression":"0 * * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":240,"y":460,"wires":[["35eac31a3a547a80"]]},{"id":"78bc05b17512d841","type":"change","z":"967902ec32641bcf","name":"","rules":[{"t":"set","p":"valid_mac","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":480,"wires":[[]]},{"id":"1740e3627f17b276","type":"inject","z":"967902ec32641bcf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":540,"wires":[["a0728bd41b8d5501"]]},{"id":"a0728bd41b8d5501","type":"change","z":"967902ec32641bcf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"valid_mac","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":540,"wires":[["4ac9b05e902cfc6b"]]},{"id":"d7770ef6a9681267","type":"debug","z":"967902ec32641bcf","name":"debug 34","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":540,"wires":[]},{"id":"4ac9b05e902cfc6b","type":"switch","z":"967902ec32641bcf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":540,"wires":[["accbfb25ab9f6347"]]},{"id":"accbfb25ab9f6347","type":"change","z":"967902ec32641bcf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":540,"wires":[["d7770ef6a9681267"]]},{"id":"3089024438f99ec0","type":"debug","z":"967902ec32641bcf","name":"debug 35","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":720,"wires":[]},{"id":"d26ef5f186c96d2e","type":"function","z":"967902ec32641bcf","name":"function 22","func":"const validation = global.get('valid_mac');\n\nif (validation.includes('true')) {\n    // Set msg.payload to its current value\n    msg.payload = msg.payload;\n} else {\n    // Set msg.payload to an empty string\n    msg.payload = '';\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":720,"wires":[["27aeb8aa4595aa66"]]},{"id":"27aeb8aa4595aa66","type":"split","z":"967902ec32641bcf","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":610,"y":720,"wires":[["163765c7c448ae5b"]]},{"id":"163765c7c448ae5b","type":"switch","z":"967902ec32641bcf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"GPRMC","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":720,"wires":[["3089024438f99ec0"]]},{"id":"2f822a4e46b0d9c8","type":"serial-port","serialport":"COM7","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]