DOCS/flow/flow
[{"id":"967902ec32641bcf","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"c0fbf4dfc3b303b7","type":"inject","z":"967902ec32641bcf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":160,"wires":[["5dc03fbfaab0265b","5b1f9045cf741116"]]},{"id":"cab768392730b0cd","type":"debug","z":"967902ec32641bcf","name":"debug 27","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":980,"y":140,"wires":[]},{"id":"b019e387ae3647e7","type":"usb-watch","z":"967902ec32641bcf","name":"","initialScan":false,"x":220,"y":100,"wires":[["cab768392730b0cd"],[]]},{"id":"5dc03fbfaab0265b","type":"npm","z":"967902ec32641bcf","name":"macaddress","func":"// NPM module exposed as variable, npm_module\nreturn npm_module(msg.payload);","npm_module":"macaddress","module_style":"function","msg_payload":"return_val","function_name":"all","x":430,"y":220,"wires":[["43d9d93c371396d5","cab768392730b0cd"]]},{"id":"5b1f9045cf741116","type":"npm","z":"967902ec32641bcf","name":"usb","func":"// NPM module exposed as variable, npm_module\nreturn npm_module(msg.payload);","npm_module":"usb","module_style":"function","msg_payload":"return_val","function_name":"getDeviceList","x":410,"y":160,"wires":[["43d9d93c371396d5","cab768392730b0cd"]]},{"id":"43d9d93c371396d5","type":"function","z":"967902ec32641bcf","name":"function 16","func":"msg.method = \"POST\"\nmsg.url = \"http://127.0.0.1:8000/api/usb-devices\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":240,"wires":[["1d90c84e6d1adedc"]]},{"id":"1d90c84e6d1adedc","type":"http request","z":"967902ec32641bcf","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":850,"y":240,"wires":[["cab768392730b0cd"]]},{"id":"4f28f039293c5265","type":"serial in","z":"967902ec32641bcf","name":"","serial":"2f822a4e46b0d9c8","x":190,"y":660,"wires":[["e95d1e3b317e4b3a"]]},{"id":"ca7ce12fc1408c57","type":"tcp out","z":"967902ec32641bcf","name":"","host":"192.168.123.14","port":"2209","beserver":"client","base64":false,"end":false,"tls":"","x":770,"y":600,"wires":[]},{"id":"780eeb4183919d7f","type":"tcp in","z":"967902ec32641bcf","name":"","server":"server","host":"","port":"2209","datamode":"stream","datatype":"utf8","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":580,"y":480,"wires":[[]]},{"id":"0cfae0fb5b6c8339","type":"switch","z":"967902ec32641bcf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":680,"wires":[[]]},{"id":"e95d1e3b317e4b3a","type":"split","z":"967902ec32641bcf","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":330,"y":660,"wires":[["3c0ce4f4f5169ddd"]]},{"id":"3c0ce4f4f5169ddd","type":"switch","z":"967902ec32641bcf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"GPRMC","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":620,"wires":[["ca7ce12fc1408c57"]]},{"id":"2f822a4e46b0d9c8","type":"serial-port","serialport":"COM6","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]